body {
  margin: 0;
  padding: 0;
  background-image: url('https://th.bing.com/th/id/OIP.7QKHQZlmzzkQvqrDgew4BgHaLc?w=236&h=364&c=7&o=5&dpr=1.3&pid=1.20'); /* yo‘l to‘g‘ri ekaniga e’tibor ber */
  background-size: cover;      /* rasm ekranni to‘ldiradi */
  background-position: center; /* markazga tushadi */
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
}
